// colours
$colour-pigment-green: #259F2F;
$colour-eerie-black: #222;
$colour-engineering-orange: #bd1717;
$colour-white: #fff;

// button
$button-bg: $colour-eerie-black;
$button-colour: $colour-white;
